.title-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.alert-place {
    display: flex;
    justify-content: center;
}
.btn-place {
    display: flex;
    justify-content: center;
}
.outline {
    border-radius: 1px;
    border-color: yellow;
}
.form-align {
    margin-top: 6%;
}