<div class="container">
    <!-- HEADING -->
    <div class="row">
        <div class="col-2 mt-2 mb-5">
            <button class="btn btn-outline-secondary mt-2" (click)="back()">
                <i class="fa-solid fa-arrow-left">
                    Back
                </i>
            </button>
        </div>
        <div class="col-8 mt-2">
            <h2 class="text-secondary text-center">
                {{this.heading}}
            </h2>
        </div>
        <div class="col-2">

        </div>
    </div>
    <!-- MAIN CONTENT -->
    <form>
        <div class="form-group row mt-5">
            <label for="newName" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-lg" name="nameInput"
                    placeholder="Enter new Name" [(ngModel)]="newName">
            </div>
        </div>
        <div class="text-center mt-2">
            <button class="btn btn-outline-secondary" (click)="changeName(this.newName)">Update</button>
        </div>
    </form>
</div>