<h2 class="text-center text-secondary">Add a new Item</h2>
<form action="" class="form-align">
    <div class="container ">
        <div class="form-outline mb-4">
            <input type="text" id="name" class="form-control input-sm">
            <label class="form-label " for="name">Item Name</label>
        </div>
        <div class="form-outline mb-4">
            <input type="url" id="link" class="form-control input-sm">
            <label class="form-label" for="link">Link for the Picture</label>
        </div>
        <div class="form-outline mb-4">
            <input type="number" id="" class="form-control input-sm">
            <label class="form-label " for="">Price</label>
        </div>
        <div class="btn-place">
            <button type="button" class="btn btn-success ">Add</button>
        </div>
    </div>
</form>