.btn-place {
    display: flex;
    justify-content: center;
}

.alert-place {
    display: flex;
    justify-content: center;
}

.title-font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.required-field::after {
    content: "*";
    color: red;
}