<div class="container">
    <h2 class="text-secondary text-center">Modify Your Shop</h2>
    <div class="row">
        <button class="btn btn-lg btn-success mb-2">Add a new Item</button>
        <button class="btn btn-lg btn-danger mb-2">Remove an Item</button>
        <button class="btn btn-lg btn-secondary mb-2">Remove all Items</button>
        <button class="btn btn-lg btn-dark mb-2">Flag an Item Out of Stock</button>
        <button class="btn btn-lg btn-warning white mb-2">Flag an Item In Stock</button>
        <button class="btn btn-lg btn-info white">Update Name of the Shop</button>
    </div>
</div>